<% var
pageTitle = "О нас";
pageId = "about";
pageUrl = "";
pageDescription = "FeelMySkill";
%>

<% include ../_partial/_header %>
<body class="has-navbar-fixed-top">
<%# navbar %>
<% include ../_partial/_nav %>
<main>
<section class="section has-text-centered has-background-light">
  <h1 id="bulma" class="title">
   Feel My Skill
 </h1>
 <h2 id="modern-framework" class="subtitle">
   Сделаем кузов <strong>блестящим,</strong> салон <strong>чистым,</strong><strong> удалим царапины и вмятины</strong>
 </h2>
 <p>предлагает вашему вниманию профессиональный уход за автомобилями премиального класса, поиск и обучение персонала на основе собственной школы, поставки материалов и инструмента, онлайн обучение и другие услуги.</p>
</section>

<!-- Works -->
<section class="section has-background-light">
      <h1 class="title has-text-centered is-size-3">Наши <span class="has-text-primary">работы</span></h1>
      <div class="container">
        <div class="columns is-multiline">
          <div class="column">
            <!-- 01 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-01" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

          <div class="column">
            <!-- 02 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-02" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

          <div class="column">
            <!-- 03 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-03" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

        </div>

        <div class="columns is-multiline">
          <div class="column">
            <!-- 01 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-01" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

          <div class="column">
            <!-- 02 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-02" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

          <div class="column">
            <!-- 03 -->
            <center>
              <figure class="image is-3by2">
                <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
              </figure>
              <div id="modal-03" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
            </center>
          </div>

        </div>
      </div>
</section>

</main>

<% include ../_partial/_footer %>
