<% var
pageTitle = "Feel my Skill Ceramic 9H";
pageId = "polirovka";
pageUrl = "";
pageDescription = "Покрытие нанокерамикой Feel my Skill Ceramic 9H";
%>

<% include ../_partial/_header %>
<body class="has-navbar-fixed-top">
<%# navbar %>
<% include ../_partial/_nav %>

<main class="main-content is-fullheight">
  <div class="columns is-marginless">
    <!-- menu sidebar -->
    <% include ../_partial/_menu %>


    <!-- main content -->
    <div class="column is-10 section">

      <div class="heading">
        <h1 class="title">Feel my Skill Ceramic 9H</h1>
        <br>
      </div>


      <div class='profile-heading'>
        <div class='columns is-mobile is-multiline'>

          <div class='column is-2-tablet is-12-mobile'>
            <span class='header-icon user-profile-image'>
              <img alt='' src='http://placehold.it/300x225'>
            </span>
          </div>

          <div class='column is-10-tablet is-10-mobile'>
            <div class="content">
            <p class='tagline'>
              Покрытие нанокерамикой «Feel my Skill Ceramic 9H» — это уникальный метод
              протекции кузова автомобиля от природных и механических
              воздействий. Обладает прекрасными гидрофобными свойствами,
              благодаря этому авто не нужно часто мыть. Защищает лакокрасочное
              покрытие (ЛКП) от мелких повреждений, возникновения коррозии, от
              негативного влияния ультрафиолетовых лучей на краску автомобиля,
              многократно увеличивая срок службы ЛКП.
            </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile is-multiline">
          <div class="column is-full">
            <div class="content">
              <p>
                После нанесения «Feel my Skill Ceramic 9H» значительно улучшается экстерьер
                автомобиля, цвет становится более глубоким и сочным, кузов
                приобретает восхитительный блеск и все это остаётся практически на
                весь срок эксплуатации автомобиля (зависит от количества слоёв).
              </p>
              <h2 class="subtitle">Как выполняется покрытие нанокерамикой?</h2>
            <ol type="1">
              <li>Консультация специалиста по Нанокерамике;</li>
              <li>Комплексная мойка кузова;</li>
              <li>Осмотр кузова автомобиля с вынесением оценки состояния ЛКП</li>
              <li>Чистка кузова автомобиля при помощи высокопористой губки и
автомобильного скраба;</li>
              <li>Трехэтапная полировка кузова;</li>
              <li>Обезжиривание и нанесение специальной полироли для подготовки
ЛКП к нанесению нанокерамики;</li>
              <li>Нанесение Ceramic Pro 9H. Наносится от 2 до 10 слоёв исходя из
пожелания заказчика;</li>
              <li>Запекание керамического состава.</li>
            </ol>
            <h2 class="subtitle">Защита кузова "Жидким стеклом Feel my skill 7H"</h2>
            <p>
              Покрытие автомобиля Жидким стеклом  наделяет кузов автомобиля
              превосходными протекционными (защитными) и гидрофобными (водоотталкивающими)
              свойствами, что препятствует налипанию грязи и пыли на поверхность авто.
              Жидкое стекло 7H создаёт эффект нового свежеокрашенного  автомобиля,
              делает поверхность гладкой и сияющей, устойчивой к выгоранию от
              ультрафиолетовых лучей.
            </p>
            <h2 class="subtitle">Как выполняется обработка автомобиля Жидким стеклом 7H?</h2>
          <ol type="1">
            <li>Осмотр автомобиля специалистом;</li>
            <li>Комплексная мойка авто, удаление стойких загрязнений;</li>
            <li>Ручная мойка авто с пористой губкой и автомобильным скрабом;</li>
            <li>Очистка поверхности с пористой губкой и автомобильным скрабом;</li>
            <li>Очистка поверхности синтетической глиной;</li>
            <li>Обезжиривание поверхности кузова авто;</li>
            <li>Полировка кузова(если требуеться);</li>
            <li>Обработка автомобиля жидким стеклом в 2 слоя;</li>
          </ol>
          <h2 class="subtitle">Какой результат?</h2>
          <p>
            «Жидкое стекло Feel my Skill 7H» надолго обеспечит авто надёжной
            защитой от внешних химических и механических воздействий, результативно
            заполняет мелкие трещины и царапины.
          </p>

            </div>
          </div>
        <div>



        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>Слои</th>
              <th><abbr title="Position">Легковые</abbr></th>
              <th><abbr title="Played">Внедорожник</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td></td>
              <td>20 000 р.</td>
            </tr>
            <tr>
              <th>2</th>
              <td></td>
              <td>24 000 р.</td>
            </tr>

          </tbody>
        </table>

        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <img class="modal-button pointer" data-target="modal-01" src="http://placehold.it/336x189">
              <div id="modal-01" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 02 -->
              <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/336x189">
              <div id="modal-02" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 03 -->
              <img class="modal-button pointer" data-target="modal-03" src="http://placehold.it/336x189">
              <div id="modal-03" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
</main>

<% include ../_partial/_footer %>
