<% var
pageTitle = "FeelMySkill";
pageId = "index";
pageUrl = "";
pageDescription = "FeelMySkill - студия детейлинга";
%>
<% include ../_partial/_header %>

<body>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav id="start-menu" class="navbar is-transparent is-black">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item hero-logo">
              <img src="/images/logo.svg" width="112" height="50">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-start">
              <a href="about.html" class="navbar-item">
                О нас
              </a>

              <a href="contacts.html" class="navbar-item">
                Контакты
              </a>

              <div class="navbar-item has-dropdown is-hoverable is-inverted">
                <a class="navbar-link is-arrowless">
                  Услуги
                </a>

                <div class="navbar-dropdown is-inverted">
                  <a href="http://price.feel-my-skill.ru/sample-page/" class="navbar-item has-text-dark">
                    Детейлинг мойка
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d0%b4%d0%b5%d1%82%d0%b5%d0%b9%d0%bb%d0%b8%d0%bd%d0%b3-%d0%bf%d0%be%d0%bb%d0%b8%d1%80%d0%be%d0%b2%d0%ba%d0%b0/" class="navbar-item has-text-dark">
                    Детейлинг полировка
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d0%bd%d0%b0%d0%bd%d0%be-%d0%b7%d0%b0%d1%89%d0%b8%d1%82%d0%b0/" class="navbar-item has-text-dark">
                    Нано защита (Керамика 9H, Жидкое стекло 7H)
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d1%85%d0%b8%d0%bc%d1%87%d0%b8%d1%81%d1%82%d0%ba%d0%b0/" class="navbar-item has-text-dark">
                    Химчистка
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d0%be%d0%ba%d0%bb%d0%b5%d0%b9%d0%ba%d0%b0-%d0%b0%d0%bd%d1%82%d0%b8%d0%b3%d1%80%d0%b0%d0%b2%d0%b8%d0%b9%d0%bd%d0%be%d0%b9-%d0%bf%d0%bb%d0%b5%d0%bd%d0%ba%d0%be%d0%b9/" class="navbar-item has-text-dark">
                    Оклейка антигравийной пленкой
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d0%be%d0%ba%d0%bb%d0%b5%d0%b9%d0%ba%d0%b0-%d0%b2%d0%b8%d0%bd%d0%b8%d0%bb%d0%be%d0%b2%d0%be%d0%b9-%d0%bf%d0%bb%d0%b5%d0%bd%d0%ba%d0%be%d0%b9-%d1%81%d1%82%d0%b0%d0%b9%d0%bb%d0%b8%d0%bd%d0%b3/" class="navbar-item has-text-dark">
                    Оклейка виниловой пленкой / стайлинг
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d1%80%d0%b5%d0%bc%d0%be%d0%bd%d1%82-%d0%bf%d0%be%d1%88%d0%b8%d0%b2-%d1%81%d0%b0%d0%bb%d0%be%d0%bd%d0%b0/" class="navbar-item has-text-dark">
                    Ремонт / Пошив салона
                  </a>
                  <a href="http://price.feel-my-skill.ru/%d0%bf%d1%80%d0%b5%d0%b4%d0%bf%d1%80%d0%be%d0%b4%d0%b0%d0%b6%d0%bd%d0%b0%d1%8f-%d0%bf%d0%be%d0%b4%d0%b3%d0%be%d1%82%d0%be%d0%b2%d0%ba%d0%b0/" class="navbar-item has-text-dark">
                    Предпродажная подготовка
                  </a>
                </div>

              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                  <i class="fa fa-facebook-square"></i>
                  <span class="nav-link-inner--text">Facebook</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/feel_my_skill/" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                  <i class="fa fa-instagram"></i>
                  <span class="nav-link-inner--text">Instagram</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.youtube.com/watch?v=Sgz9ID2bhv0&feature=youtu.be" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-youtube-square"></i>
                  <span class="nav-link-inner--text">Youtube</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-vk"></i>
                  <span class="nav-link-inner--text">Vkontakte</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">

        <p class="title has-text-white has-text-centered has-text-weight-light">
          Сделаем кузов блестящим, салон чистым,<br> удалим царапины и вмятины<br><br>
          <a href="tel:+79032279357" class="button is-primary">Позвонить</a>
        </p>

        <div class="overlay">
        </div>

        <video class="is-hidden-mobile" id="video-background" preload="" muted="" autoplay="" loop="">
          <source src="/images/herovideo.mp4" type="video/mp4">
          <source src="/images/herovideo.ogg" type="video/ogg">
        </video>

        <div class="is-hidden-desktop" id="img-background">
          <picture>
            <source type="image/webp" srcset="/images/heroimg.webp"
            <img src="/images/heroimg.jpg">
          </picture>
        </div>

      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="section has-background-light">
    <h1 class="title has-text-centered is-size-3">Наши <span class="has-text-primary">услуги</span></h1>

    <div class="container">
      <div class="columns">

        <!-- Column 1 Керамика -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/1.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Feel my Skill Ceramic</p>
                  </div>
                </div>

                <div class="content">
                  уникальный метод протекции кузова автомобиля от природных и механических воздействий. Обладает прекрасными гидрофобными свойствами, благодаря этому авто не нужно часто мыть.
                  <a href="#">@feelmyskill</a> <a href="#">@Ceramic</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Column 2 Антигравийная пленка  -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/2.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Антигравийная пленка</p>
                  </div>
                </div>

                <div class="content">
                  предотвращает износ ЛКП, выгорание цвета на солнце.
                  <a href="#">#feelmyskill</a> <a href="#">#responsive</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Column 3 Детейлинг -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/3.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Детейлинг</p>
                  </div>
                </div>

                <div class="content">
                  высокотехнологичная мойка, которая выполняется в 4 этапа с использованием высокомолекулярных и экологичных средств, которые помимо очищения кузова, образуют тонкий защитный слой, препятствующий повторному загрязнению автомобиля.
                  <a href="#">#feelmyskill_detailing</a>
                </div>
              </div>

            </div>
          </center>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="columns">

        <!-- Row 2 Column 1 Стайлинг -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/4.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Стайлинг</p>
                  </div>
                </div>

                <div class="content">
                  уникальный метод протекции кузова автомобиля от природных и механических воздействий.
                  <a href="#">#feelmyskill_styling</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Row 2  Column 2 Антигравийная пленка  -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/5.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Полировка</p>
                  </div>
                </div>

                <div class="content">
                  Полировка кузова автомобиля трудоёмкая и технически сложная процедура, для выполнения которой требуются специалисты высокого класса.
                  <a href="#">#feelmyskill_polishing</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Row 2 Column 3 Жидкое стекло -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/6.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Жидкое стекло</p>
                  </div>
                </div>

                <div class="content">
                  наделяет кузов автомобиля превосходными протекционными (защитными) и гидрофобными (водоотталкивающими) свойствами, что препятствует налипанию грязи и пыли на поверхность авто.
                  <a href="#">@feelmyskill_liquid_glass</a>
                </div>
              </div>

            </div>
          </center>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="columns">

        <!-- Row 3 Column 1 Предпродажная подготовка -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/7.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Предпродажная подготовка</p>
                  </div>
                </div>

                <div class="content">
                  комплекс мероприятий, для улучшения внешнего вида автомобиля и создание тонкого защитного слоя для кузова.
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Row 3  Column 2 Антигравийная пленка  -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/8.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Химчистка</p>
                  </div>
                </div>

                <div class="content">
                  ряд мероприятий, нацеленный на бережную очистку салона с повышенным вниманием к каждой детали интерьера, что отличает ее от рядовых химчисток, предоставляемых на обычных автомойках
                  <a href="#">#feelmyskill_cleaning</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Row 3 Column 3 Салон -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="images/9.png" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">Ремонт и пошив салона автомобиля</p>
                  </div>
                </div>

                <div class="content">
                  «Feel my Skill» оперативно и качественно помогут исправить любые дефекты обивки интерьера автомобиля.
                  <a href="#">#feelmyskill_salon</a>
                </div>
              </div>

            </div>
          </center>
        </div>

      </div>
    </div>

  </section>

  <!-- Works -->
  <section class="section has-background-light">
        <h1 class="title has-text-centered is-size-3">Наши <span class="has-text-primary">работы</span></h1>
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/1.jpg">
                </figure>
                <div id="modal-01" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/1.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 02 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/2.jpg">
                </figure>
                <div id="modal-02" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/2.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 03 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/3.jpg">
                </figure>
                <div id="modal-03" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/3.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

          </div>

          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/4.jpg">
                </figure>
                <div id="modal-01" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/4.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 02 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/5.jpg">
                </figure>
                <div id="modal-02" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/5.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 03 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="images/6.jpg">
                </figure>
                <div id="modal-03" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="images/6.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

          </div>
        </div>
  </section>

  <!-- Yandex Map -->
  <section class="section is-paddingless">
    <div id="map" style="width: 100%; height: 400px"></div>
  </section>

  <% include ../_partial/_footer %>
