<% var
pageTitle = "FeelMySkill";
pageId = "index";
pageUrl = "";
pageDescription = "FeelMySkill - студия детейлинга";
%>
<% include ../_partial/_header %>

<body>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav id="start-menu" class="navbar is-transparent is-black">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item hero-logo">
              <img src="/images/logo.svg" width="112" height="50">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-start">
              <a href="about.html" class="navbar-item">
                О нас
              </a>

              <a href="contacts.html" class="navbar-item">
                Контакты
              </a>

              <div class="navbar-item has-dropdown is-hoverable is-inverted">
                <a class="navbar-link is-arrowless">
                  Услуги
                </a>

                <div class="navbar-dropdown is-inverted">
                  <a href="polirovka.html" class="navbar-item has-text-dark">
                    Полировка
                  </a>
                  <a class="navbar-item has-text-dark">
                    Удаление вмятин PDR
                  </a>
                  <a class="navbar-item has-text-dark">
                    Жидкое стекло
                  </a>
                  <a class="navbar-item has-text-dark">
                    Детейлинг мотора
                  </a>
                  <a class="navbar-item has-text-dark">
                    Антидождь
                  </a>
                  <a class="navbar-item has-text-dark">
                    Нано защита дисков
                  </a>
                  <a class="navbar-item has-text-dark">
                    Антигравийная пленка
                  </a>
                  <a class="navbar-item has-text-dark">
                    Оклейка винилом/стайлинг
                  </a>
                  <a class="navbar-item has-text-dark">
                    Нано защита
                  </a>
                  <a class="navbar-item has-text-dark">
                    Химчистка
                  </a>
                  <a class="navbar-item has-text-dark">
                    Ремонт/пошив салона
                  </a>
                </div>

              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                  <i class="fa fa-facebook-square"></i>
                  <span class="nav-link-inner--text">Facebook</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                  <i class="fa fa-instagram"></i>
                  <span class="nav-link-inner--text">Instagram</span>
                </a>
              </div>
              <div class="navbar-item is-hidden-touch is-hidden-desktop-only">
                <a class="nav-link nav-link-icon has-text-light" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-twitter-square"></i>
                  <span class="nav-link-inner--text">Twitter</span>
                </a>
              </div>
            </div>

          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">

        <p class="title has-text-white has-text-centered has-text-weight-light">
          Сделаем кузов блестящим, салон чистым,<br> удалим царапины и вмятины<br><br>
          <a href="tel:+1234567890" class="button is-primary">Позвонить</a>
        </p>

        <div class="overlay">
        </div>

        <video class="is-hidden-mobile" id="video-background" preload="" muted="" autoplay="" loop="">
          <source src="/images/herovideo.mp4" type="video/mp4">
          <source src="/images/herovideo.ogg" type="video/ogg">
        </video>

        <div class="is-hidden-desktop" id="img-background">
          <img src="/images/heroimg.jpg">
        </div>

      </div>
    </div>
  </section>

  <!-- Section -->
  <section class="section has-background-light">
    <h1 class="title has-text-centered is-size-3">Наши <span class="has-text-primary">услуги</span></h1>

    <div class="container">
      <div class="columns">

        <!-- Column 1 -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <a href="polirovka.html">
                  <img src="http://placehold.it/300x225" alt="">
                  </a>
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">John Smith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#feelmyskill</a> <a href="#">#responsive</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Column 1 -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://placehold.it/300x225" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">John Smith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#feelmyskill</a> <a href="#">#responsive</a>
                </div>
              </div>

            </div>
          </center>
        </div>

        <!-- Column 1 -->
        <div class="column">
          <center>
            <div class="card">

              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://placehold.it/480x320" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4 has-text-centered">John Smith</p>
                  </div>
                </div>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                  <a href="#">#feelmyskill</a> <a href="#">#responsive</a>
                </div>
              </div>

            </div>
          </center>
        </div>

      </div>
    </div>
  </section>

  <!-- Works -->
  <section class="section has-background-light">
        <h1 class="title has-text-centered is-size-3">Наши <span class="has-text-primary">работы</span></h1>
        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-01" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 02 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-02" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 03 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-03" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

          </div>

          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-01" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 02 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-02" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

            <div class="column">
              <!-- 03 -->
              <center>
                <figure class="image is-3by2">
                  <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/480x320">
                </figure>
                <div id="modal-03" class="modal modal-fx-fadeInScale">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div>
                <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
              </center>
            </div>

          </div>
        </div>
  </section>

  <!-- Yandex Map -->
  <section class="section is-paddingless">
    <div id="map" style="width: 100%; height: 400px"></div>
  </section>

  <% include ../_partial/_footer %>
