<% var
pageTitle = "Полировка";
pageId = "polirovka";
pageUrl = "";
pageDescription = "FeelMySkill";
%>

<% include ../_partial/_header %>

<body class="has-navbar-fixed-top">
  <%# navbar %>
  <% include ../_partial/_nav %>

  <main class="main-content is-fullheight">
    <div class="columns is-marginless">
      <!-- menu sidebar -->
      <% include ../_partial/_menu %>


      <!-- main content -->
      <div class="column is-10 section">

        <div class="heading">
          <h1 class="title">Оклейка авто антигравийной плёнкой</h1>
          <br>
        </div>


        <div class='profile-heading'>
          <div class='columns is-mobile is-multiline'>

            <div class='column is-2-tablet is-12-mobile'>
              <span class='header-icon user-profile-image'>
                <img alt='' src='http://placehold.it/300x225'>
              </span>
            </div>

            <div class='column is-10-tablet is-10-mobile'>
              <div class="content">
                <p class='tagline'>
                  Оклейка антигравийной плёнкой отличный способ предохранить автомобиля от негативного
                  влияния внешней среды: от смолы деревьев и налипающей грязи, от царапин и сколов, от мелких
                  камней, вылетающих из-под колёс впереди идущих автомобилей и от агрессивных сотрудников,
                  работающих на обычных автомойках. Так же плёнка предотвращает износ ЛКП, надежно
                  предотвращая выгорание цвета на солнце.
                </p>
              </div>
            </div>
          </div>

          <div class="columns is-mobile is-multiline">
            <div class="column is-full">
              <div class="content">
                <h2 class="subtitle">В первую очередь стоит оклеить те части автомобиля, которые более подвержены повреждениям:</h2>
                <ul type="1">
                  <li>Фары</li>
                  <li>Бампер</li>
                  <li>Капот</li>
                  <li>Крылья</li>
                  <li>Пространство под ручками</li>
                  <li>Крышка багажника</li>
                  <li>Пороги</li>
                  <li>Зеркала</li>
                </ul>
                <br>
                <p>
                  В идеале оклеить весь автомобиль такой плёнкой, это позволит надолго сохранить кузов
                  автомобиля в первозданном состоянии, сэкономив при этом на косметическом ремонте
                  автомобиля. В особенности это рекомендация будет полезна для новых автомобилей.
                </p>
                <h2 class="subtitle">Итак, вот основные плюсы антигравийной плёнки:</h2>
                <ul type="1">
                  <li>Хорошо моется;</li>
                  <li>Не желтеет со временем;</li>
                  <li>Не требует особого ухода;</li>
                  <li>Устойчива к солям и химическим веществам;</li>
                  <li>Хорошо полируется;</li>
                  <li>Не оставляет следов после демонтажа.</li>
                </ul>
                <br>
                <p>
                  Всё работы в нашем центре выполняются квалифицированными специалистами с полным
                  соблюдением технологического процесса, поэтому мы гарантируем качественно выполненную
                  работу в кротчайшие сроки.
                </p>
              </div>
            </div>
          </div>

          <table class="table is-fullwidth is-responsive">
            <thead>
              <tr>
                  <th><abbr title="Played"></abbr></th>
                <th><abbr title="Played">1 класс</abbr></th>
                <th><abbr title="Played">2 класс</abbr></th>
                <th><abbr title="Played">3 класс</abbr></th>
                <th><abbr title="Played">4 класс</abbr></th>
                <th><abbr title="Played">5 класс</abbr></th>
                <th><abbr title="Played">6 класс</abbr></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>suntek ppf<br>"Стандарт"</th>
                <td>57 500 р.</td>
                <td>63 250 р.</td>
                <td>69 000 р.</td>
                <td>78 200 р.</td>
                <td>83 950 р.</td>
                <td>92 000 р.</td>
              </tr>
              <tr>
                <th>suntek ppf<br>"Максимум"</th>
                <td>63 250 р.</td>
                <td>69 000 р.</td>
                <td>78 200 р.</td>
                <td>86 250 р.</td>
                <td>95 450 р.</td>
                <td>103 500 р.</td>
              </tr>
              <tr>
                <th>feelmyskill ppf<br>"Стандарт"</th>
                <td>47 500 р.</td>
                <td>53 250 р.</td>
                <td>59 000 р.</td>
                <td>68 200 р.</td>
                <td>73 950 р.</td>
                <td>82 000 р.</td>
              </tr>
              <tr>
                <th>feelmyskill ppf<br>"Максимум"</th>
                <td>53 250 р.</td>
                <td>59 000 р.</td>
                <td>68 200 р.</td>
                <td>76 250 р.</td>
                <td>85 450 р.</td>
                <td>93 500 р.</td>
              </tr>
              <tr>
                <th>oraguard 270 ПВХ<br>"Стандарт"</th>
                <td>20 700 р.</td>
                <td>23 000 р.</td>
                <td>26 450 р.</td>
                <td>29 990 р.</td>
                <td>34 500 р.</td>
                <td>41 400 р.</td>
              </tr>
              <tr>
                <th>oraguard 270 ПВХ<br>"Максимум"</th>
                <td>28 750 р.</td>
                <td>32 200 р.</td>
                <td>34 500 р.</td>
                <td>36 800 р.</td>
                <td>40 250 р.</td>
                <td>46 000 р.</td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </main>

  <% include ../_partial/_footer %>
