<% var
pageTitle = "Полировка";
pageId = "polirovka";
pageUrl = "";
pageDescription = "FeelMySkill";
%>

<% include ../_partial/_header %>
<body class="has-navbar-fixed-top">
<%# navbar %>
<% include ../_partial/_nav %>

<main class="main-content is-fullheight">
  <div class="columns is-marginless">
    <!-- menu sidebar -->
    <% include ../_partial/_menu %>


    <!-- main content -->
    <div class="column is-10 section">

      <div class="heading">
        <h1 class="title">Предпродажная подготовка
автомобиля.</h1>
        <br>
      </div>


      <div class='profile-heading'>
        <div class='columns is-mobile is-multiline'>

          <div class='column is-2-tablet is-12-mobile'>
            <span class='header-icon user-profile-image'>
              <img alt='' src='http://placehold.it/300x225'>
            </span>
          </div>

          <div class='column is-10-tablet is-10-mobile'>
            <div class="content">
            <p class='tagline'>
              Это комплекс мероприятий, для улучшения внешнего вида автомобиля и создание
              тонкого защитного слоя для кузова.
            </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile is-multiline">
          <div class="column is-full">
            <div class="content">
            <h2 class="subtitle">Операции, входящие в этот комплекс: </h2>
            <ul type="1">
              <li>Детальная мойка автомобиля с использованием высококачественных авто
шампуней, пористых губок, скрабов и специальных щёток, для мытья
труднодоступных мест;</li>
              <li>Очистка от битума, химреагентов и различных металлических вкраплений;</li>
              <li>Тщательная химчистка дисков;</li>
              <li>Мойка колесных арок, подвески и чистка от выхлопного нагара;</li>
              <li>Технологичное полирование кузова, фар и фонарей автомобиля, удаление мелких
царапин;</li>
              <li>Устранение остатков полировочной пасты и повторная мойка авто;</li>
              <li>Оживление (восстановление) наружных пластиковых элементов;</li>
              <li>Чернение шин (бесплатно);</li>
              <li>Устранение дефектов (глубоких царапин, мелких трещин) с поверхности ЛКП и
маскировка сколов;</li>
              <li>Легкая влажная химчистка салона (устранение пятен и других загрязнений, чистка
стёкол);</li>
              <li>Ручное полирование декоративных вставок салона (устранение царапин, наведение
лоска);</li>
              <li>Устранение царапин с пластиковых элементов салона;</li>
              <li>Устранение неприятного запаха и обеззараживание салона озоногенератором; </li>
              <li>Бесплатная фотосессия автомобиля.</li>
            </ul>
            <br>

            <h2 class="subtitle">Как результат вы получаете: </h2>
            <p>
              Чисты блестящий автомобиль, который вы сможете продать гораздо быстрее и
              дороже, чем планировали.<br>
              В нашем центре «Feel my Skill» работают исключительно профессионалы своего дела
              с опытом более 6-ти лет, поэтому мы гарантируем максимально качественный
              результат выполнения всех видов услуг предоставляемых нами.
            </p>
            </div>
          </div>
        <div>


        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <img class="modal-button pointer" data-target="modal-01" src="http://placehold.it/336x189">
              <div id="modal-01" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 02 -->
              <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/336x189">
              <div id="modal-02" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 03 -->
              <img class="modal-button pointer" data-target="modal-03" src="http://placehold.it/336x189">
              <div id="modal-03" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
</main>

<% include ../_partial/_footer %>
