<% var
pageTitle = "Услуги";
pageId = "services";
pageUrl = "";
pageDescription = "FeelMySkill";
%>

<% include ../_partial/_header %>
<body class="has-navbar-fixed-top">
<%# navbar %>
<% include ../_partial/_nav %>
<main>
<section class="section has-text-centered has-background-light">
  <h1 id="bulma" class="title">
   Feel My Skill
 </h1>
 <h2 id="modern-framework" class="subtitle">
   Сделаем кузов <strong>блестящим,</strong> салон <strong>чистым,</strong><strong> удалим царапины и вмятины</strong>
 </h2>
 <p>предлагает вашему вниманию профессиональный уход за автомобилями премиального класса, поиск и обучение персонала на основе собственной школы, поставки материалов и инструмента, онлайн обучение и другие услуги.</p>
</section>

<!-- Yandex Map -->
<section class="section is-paddingless">
  <div id="map" style="width: 100%; height: 400px"></div>
</section>

</main>

<% include ../_partial/_footer %>
