<% var
pageTitle = "Полировка";
pageId = "polirovka";
pageUrl = "";
pageDescription = "FeelMySkill";
%>

<% include ../_partial/_header %>
<body class="has-navbar-fixed-top">
<%# navbar %>
<% include ../_partial/_nav %>

<main class="main-content is-fullheight">
  <div class="columns is-marginless">
    <!-- menu sidebar -->
    <% include ../_partial/_menu %>


    <!-- main content -->
    <div class="column is-10 section">

      <div class="heading">
        <h1 class="title">Покрывание кузова «Жидким стеклом 7H»</h1>
        <br>
      </div>


      <div class='profile-heading'>
        <div class='columns is-mobile is-multiline'>

          <div class='column is-2-tablet is-12-mobile'>
            <span class='header-icon user-profile-image'>
              <img alt='' src='http://placehold.it/300x225'>
            </span>
          </div>

          <div class='column is-10-tablet is-10-mobile'>
            <div class="content">
            <p class='tagline'>
              Покрывание автомобиля Жидким стеклом наделяет кузов автомобиля
              превосходными протекционными (защитными) и гидрофобными
              (водоотталкивающими) свойствами, что препятствует налипанию грязи и
              пыли на поверхность авто. Жидкое стекло 7H создаёт эффект нового
              свежеокрашенного автомобиля, делает поверхность гладкой и сияющей,
              устойчивой к выгоранию от ультрафиолетовых лучей.
            </p>
            </div>
          </div>
        </div>

        <div class="columns is-mobile is-multiline">
          <div class="column is-full">
            <div class="content">
            <h2 class="subtitle">Как выполняется покрывание автомобиля Жидким стеклом 7H?</h2>
            <ol type="1">
              <li>Осмотр автомобиля специалистом;</li>
              <li>Комплексная мойка авто, удаление стойких загрязнений;</li>
              <li>Ручная мойка авто с пористой губкой и автомобильным скрабом;</li>
              <li>Очистка поверхности синт. глиной</li>
              <li>Обезжиривание поверхности кузова авто;</li>
              <li>Полировка кузова (если требуется);</li>
              <li>Покрывание автомобиля жидким стеклом в 2 слоя;</li>
              <li>Запекание керамического состава.</li>
            </ol>
            <br>
            <p>
              Покрывание «Жидким стеклом 7H» надолго обеспечивает авто надёжной
              защитой от внешних химических и механических воздействий, результативно
              удаляет мелкие трещины и царапины.
            </p>
            </div>
          </div>
        <div>



        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th><abbr title="Position">Класс</abbr></th>
              <th><abbr title="Position">Машина</abbr></th>
              <th><abbr title="Played">Стоимость</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">Мини</a></td>
              <td>20 000 р.</td>
            </tr>
            <tr>
              <th>2</th>
              <td><a href="https://en.wikipedia.org/wiki/Arsenal_F.C." title="Arsenal F.C.">Хэчбек</a></td>
              <td>24 000 р.</td>
            </tr>
            <tr>
              <th>3</th>
              <td><a href="https://en.wikipedia.org/wiki/Tottenham_Hotspur_F.C." title="Tottenham Hotspur F.C.">Седан, купе</a></td>
              <td>26 000 р.</td>
            </tr>
            <tr>
              <th>4</th>
              <td><a href="https://en.wikipedia.org/wiki/Manchester_City_F.C." title="Manchester City F.C.">Универсал, кроссовер</a></td>
              <td>28 000 р.</td>
            </tr>
            <tr>
              <th>5</th>
              <td><a href="https://en.wikipedia.org/wiki/Manchester_United_F.C." title="Manchester United F.C.">Внедорожник</a></td>
              <td>30 000 р.</td>
            </tr>
            <tr>
              <th>6</th>
              <td><a href="https://en.wikipedia.org/wiki/Southampton_F.C." title="Southampton F.C.">Лимузин</a></td>
              <td>34 000 р.</td>
            </tr>
            <tr>
              <th>7</th>
              <td><a href="https://en.wikipedia.org/wiki/West_Ham_United_F.C." title="West Ham United F.C.">Ваще агромная тачка</a></td>
              <td>38 000 р.</td>
            </tr>
          </tbody>
        </table>

        <div class="container">
          <div class="columns is-multiline">
            <div class="column">
              <!-- 01 -->
              <img class="modal-button pointer" data-target="modal-01" src="http://placehold.it/336x189">
              <div id="modal-01" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/10/MG_8072_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-01" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 02 -->
              <img class="modal-button pointer" data-target="modal-02" src="http://placehold.it/336x189">
              <div id="modal-02" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2017/09/MG_4562_end.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-02" class="modal modal-fx-fadeInScale"></div>
            </div>

            <div class="column">
              <!-- 03 -->
              <img class="modal-button pointer" data-target="modal-03" src="http://placehold.it/336x189">
              <div id="modal-03" class="modal modal-fx-fadeInScale">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <img src="https://www.freagraphy.de/wp-content/uploads/2016/11/MG_5829_end-wp.jpg">
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
              <div id="modal-03" class="modal modal-fx-fadeInScale"></div>
            </div>

          </div>
        </div>

      </div>
    </div>
</main>

<% include ../_partial/_footer %>
