<footer class="footer has-background-dark">
  <div class="container">
    <div class="content has-text-centered">
        <strong class="has-text-white has-text-weight-light">@Feel My Skill</strong><br>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.youtube.com/watch?v=Sgz9ID2bhv0&feature=youtu.be" target="_blank" data-toggle="tooltip" title="Follow us on Youtube">
          <i class="fa fa-youtube-square"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/feel_my_skill" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://vk.com/club164366353" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
          <i class="fa fa-vk"></i>
        </a>
    </div>
  </div>
</footer>

  <!-- Core -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=05c5ee73-8c5c-44eb-b942-e75ae5b80b8c&lang=ru_RU" type="text/javascript"></script>


  <!-- Optional plugins -->
  <script src="js/scripts.js"></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(51878822, "init", {
          id:51878822,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/51878822" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

</body>
</html>
