<footer class="footer has-background-dark">
  <div class="container">
    <div class="content has-text-centered">
        <strong class="has-text-white has-text-weight-light">@Feel My Skill</strong><br>
        <a class="nav-link nav-link-icon has-text-light" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="nav-link nav-link-icon has-text-light" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
          <i class="fa fa-facebook-square"></i>
        </a>
    </div>
  </div>
</footer>

  <!-- Core -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=05c5ee73-8c5c-44eb-b942-e75ae5b80b8c&lang=ru_RU" type="text/javascript"></script>


  <!-- Optional plugins -->
  <script src="js/scripts.js"></script>

</body>
</html>
