<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile has-background-light">
  <ul class="menu-list">
    <li>
      <a href="#" class="">Полировка</a>
    </li>
    <li>
      <a href="#" class="">Удаление вмятин PDR</a>
    </li>
    <li>
      <a href="#" class="">Жидкое стекло</a>
    </li>
    <li>
      <a href="#" class="">Детейлинг моторного отсека</a>
    </li>
    <li>
      <a href="#" class="">Антидождь</a>
    </li>
    <li>
      <a href="#" class="">Нано защита дисков</a>
    </li>
    <li>
      <a href="#" class="">Антигравийная пленка</a>
    </li>
    <li>
      <a href="#" class="">Оклейка винилом/стайлинг</a>
    </li>
    <li>
      <a href="#" class="">Нано защита</a>
    </li>
    <li>
      <a href="#" class="">Химчистка</a>
    </li>
    <li>
      <a href="#" class="">Ремонт/пошив салона</a>
    </li>
  </ul>
</aside>
