<aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile has-background-light">
  <ul class="menu-list">
    <li>
      <a href="moika.html" class="">Детейлинг мойка</a>
    </li>
    <li>
      <a href="polirovka.html" class="">Детейлинг полировка</a>
    </li>
    <li>
      <a href="ceramik.html" class="">Нано защита (Керамика 9H, Жидкое стекло 7H)</a>
    </li>
    <li>
      <a href="himchistka.html" class="">Химчистка</a>
    </li>
    <li>
      <a href="plenka.html" class="">Оклейка антигравийной пленкой</a>
    </li>
    <li>
      <a href="plenka.html" class="">Оклейка виниловой пленкой / стайлинг</a>
    </li>
    <li>
      <a href="salon.html" class="">Ремонт / Пошив салона</a>
    </li>
    <li>
      <a href="prodaja.html" class="">Предпродажная подготовка</a>
    </li>
  </ul>
</aside>
