<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://feel-my-skill.ru">
      <img src="/images/logo.svg" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="about.html" class="navbar-item">
        О нас
      </a>

      <a href="contacts.html" class="navbar-item">
        Контакты
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Услуги
        </a>

        <div class="navbar-dropdown">
          <a href="moika.html" class="navbar-item">
            Детейлинг мойка
          <a href="polirovka.html" class="navbar-item">
            Детейлинг полировка
          </a>
          <a href="ceramik.html" class="navbar-item">
            Нано защита (Керамика 9H, Жидкое стекло 7H)
          </a>
          <a href="himchistka.html" class="navbar-item">
            Химчистка
          </a>
          <a href="plenka.html" class="navbar-item">
            Оклейка антигравийной пленкой
          </a>
          <a href="plenka.html" class="navbar-item">
            Оклейка виниловой пленкой / стайлинг
          </a>
          <a href="salon.html" class="navbar-item">
            Ремонт / Пошив салона
          </a>
          <a href="prodaja.html" class="navbar-item">
            Предпродажная подготовка
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="button is-white is-outlined" href="tel:+1234567890">
          <span class="icon">
            <i class="fa fa-phone"></i>
          </span>
          <span>+7 999 123 12 12</span>
        </a>
      </div>
    </div>
  </div>
</nav>
